<div class="footer">
    <div class="footer__dkhs fixed-width">
        <div class="footer__dkhs-d"> 
            <i></i>
            品类齐全，轻松购物
        </div>
        <div class="footer__dkhs-k">
            <i></i>
            多仓直发，极速配送
        </div>
        <div class="footer__dkhs-h">
            <i></i>
            正品行货，精致服务
        </div>
        <div class="footer__dkhs-s">
            <i></i>
            天天低价，畅选无忧
        </div>
    </div>
    <div class="footer__spacer"></div>
    <div class="footer__helps fixed-width">
        <div class="footer__helps-item" v-for="item in helpItems">
            <dl>
                <dt>{{item.title}}</dt>
                <dd v-for="subitem in item.items">
                    <a href="#">{{subitem}}</a>
                </dd>
            </dl>
        </div>
    </div>
    <div class="footer__spacer"></div>
    <div class="footer__links fixed-width">
        <ul class="footer__locallinks">
            <li v-for="item in localLinks" class="normal">
                <a href="#">{{item}}</a>
            </li>
            <li><a href="#">Media & IR</a></li>
        </ul>
    </div>
    <div class="footer__copyrights  fixed-width"> 
        <p>
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11000002000088" target="_blank">京公网安备 11000002000088号</a><span class="copyright_split">|</span><span>京ICP证070359号</span><span class="copyright_split">|</span>
            <a href="//img14.360buyimg.com/da/jfs/t256/349/769670066/270505/3b03e0bb/53f16c24N7c04d9e9.jpg" target="_blank">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a><span class="copyright_split">|</span><span>新出发京零 字第大120007号</span></p>
        <p><span>互联网出版许可证编号新出网证(京)字150号</span><span class="copyright_split">|</span>
            <a href="//sale.jd.com/act/pQua7zovWdJfcIn.html" target="_blank">出版物经营许可证</a><span class="copyright_split">|</span>
            <a href="//misc.360buyimg.com/wz/wlwhjyxkz.jpg" target="_blank">网络文化经营许可证京网文[2014]2148-348号</a><span class="copyright_split">|</span><span>违法和不良信息举报电话：4006561155</span></p>
        <p><span class="copyright_text">Copyright © 2004 - <em id="copyright_year">2018</em>  京东JD.com 版权所有</span><span class="copyright_split">|</span><span>消费者维权热线：4006067733</span>
            <a href="//sale.jd.com/act/7Y0Rp81MwQqc.html" target="_blank" class="copyright_license">经营证照</a>
            <span class="copyright_split">|</span>
            <span>(京)网械平台备字(2018)第00003号</span>
            <span class="copyright_split">|</span>
            <a href="//storage.jd.com/imgtools/cbdaa22553-dccaf290-d1af-11e8-a840-89f99f5f0056.jpeg" target="_blank" class="mod_business_license">营业执照</a>
        </p>
        <p><span>京东旗下网站：</span>
            <a href="https://www.jdpay.com/" target="_blank">京东钱包</a><span class="copyright_split">|</span>
            <a href="http://www.jcloud.com" target="_blank">京东云</a>
        </p>
    </div>
</div>